html {
  background-color: rgb(190, 210, 175);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: navy;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
}

section {
  background-color: rgb(241, 241, 227);
  border: 10px ridge lightgray;
  border-radius: 10px;
  padding: 0 20px;
  margin: 10px;
  box-shadow: 2px 3px 5px 3px rgba(54, 54, 54, 0.75), inset 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
}

select {
  display: block;
  margin: 5px;
}

button {
  vertical-align: text-top;
}

#wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#wishPic {
  height: 100px;
}

#weekof {
  text-align: center;
}

.left-arrow {
  margin: 0 5px 0 0;
}

.right-arrow {
  margin: 0 0 0 5px;
}

h1, h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: brown;
  font-weight: bold;
}

h3 {
  display: block;
  font-family: 'Courier New', Courier, monospace;
}

.frame {
  position: relative;
  width: 85%;
  max-width: 1500px;
  margin: 20px;
  border: 18px ridge lightgrey;
  border-radius: 20px;
  background-color: rgb(241, 241, 227);
  box-shadow: .25em .5em 5px 3px rgba(54, 54, 54, 0.75), inset 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: 800px;
  padding: 0 20px 20px;
}

table {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border: 4px solid black;
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
}

th, tfoot {
  border: 4px solid;
}

td {
  border: 1px solid;
  width: 18%;
  min-width: 125px;
  vertical-align: top;
  padding-bottom: 12px;
}

th:first-child {
  width: 100px;
  min-width: 75px;
}

[class$= "day"] {
  height: 100px;
}

.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  cursor: pointer;
}

input[type=checkbox]:checked + label.text {
  text-decoration: line-through;
}

label:hover::after {
  content:attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: #fff;
  position: relative;
  left:20px;
  top:auto;
  width: auto;
  max-width: 20rem;
  border: 1px solid #eaebec;
  padding: 0 .5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.28);
  white-space: normal;
  word-wrap: break-word;
  display:block;
  color:black;
  margin-top:-1.25rem;
}